* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body{ margin: 0%; padding: 0%;}
ul {
    list-style-type: none;
    padding: 0px;
  }  
/* for dator
_________________________________________________________________________*/
@media screen and (min-width: 1024px) {
    #wrapper1{
        grid-template-areas:
        "nv nv nv nv nv"
        "hd hd hd hd hd"
        "ma ma ma ma as"
        "ft ft ft ft ft"
        ;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 50px 85vh auto auto;
        height: auto;
        width: 100vw;
        max-width: 100%;
        }
    #wrapper2{
        grid-template-areas: 
        "nv nv nv nv nv"
        "hd hd hd hd hd"
        "ma ma ma ma ma"
        "ft ft ft ft ft"
        ;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 50px 85vh auto auto;
        height: auto;
        width: 100vw;
        max-width: 100%;
        }
    #wrapper3{
        grid-template-areas: 
        "nv nv nv nv nv"
        "hd hd hd hd hd"
        "ma ma ma ma as"
        "ma ma ma ma as"
        "ft ft ft ft ft"
        ;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 50px 85vh auto auto;
        height: auto;
        width: 100vw;
        max-width: 100%;
        }
    .hd1{
        grid-area: hd;
        background-color: rgb(255, 50, 50);
    }

    .mainbilld{
        height: auto;
        width: 100%;
    }

    #navbar{
        grid-area: nv;
        background-color: lightskyblue;
    }
    .lista{ 
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        letter-spacing: 0.15rem;
    }
    .listaicon{
        height: 50px;
        width: auto;
        float: right;
    }
    .hotbare{
        flex: 1;
        float: left;
    }
    .hotbare a {
        display: block;
        text-align: center;
        padding: 16px 14px; 
        text-decoration: none;
        color: black;
    }
    .hotbare a:hover {
        background-color: rgb(2, 2, 73);
    }
    .hotbare a:hover:not(.active){
        background-color: rgb(95, 200, 250);
    }
    #active{
        background-color: rgb(9, 9, 146);
        color: whitesmoke;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }  
    
    /*_____p-grabbarna____*/
    .p1{
        color: whitesmoke;
        font-size: 2rem;
    }
    .p21{
        color: whitesmoke;
        font-size: 2rem;
    }
    .p22{
        
        font-size: 2rem;
    }
    .p3{
        color: black;
        font-size: 2rem;
    }
    .p4{
        color: aqua;
    }
    .p5{
        font-size: 1.5rem;
    }
    /*____________*/
    .ma1{
        grid-area: ma;
        background-color:whitesmoke;
    }
    .sida1_info{
        color: wheat;
        background-color: black;
        height: 100%;
        width: 95%;
        margin-left: 2%;
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 3%;
        text-align: center;
        display: block;
        box-sizing: border-box;
    }
    .billder_s1{
        height: 20%;
        width: auto;
    }
    .sida1_as{
        color: black;
        height: 91%;
        width: 95%;
        margin-left:2% ;
        padding-top: 1%;
        padding-left: 1%;
        display: block;
    }

    .ma2{
        grid-area: ma;
        background-color: black;
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
    }

    .cash{
        color: white;
        background-color: black;
        height: 100%;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding-left: 10%;
        padding-right: 10%;
    }
    .pris{
        color: rgb(245, 220, 122);
    }
    .times{
        background-color: cornsilk;
        color: black;
        display:block;
        height: 100%;
        width: 100%;
    }
    .ma3{
        grid-area: ma;
        background-color: black;
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }
    .special{
        background-color: cornsilk;
        color: black;
        height: 100%;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding-left: 10%;
        padding-right: 10%;
    }
    .allapriser{
        color: white;
        background-color: black;
        height: 100%;
        width: 100%;
        display: block;
        box-sizing: border-box;
        text-align: center;
        
    }
    .prislista{
        display: flex;
        flex-direction: column;
        line-height: 2rem;
        padding: 0% 5% 2.5% 5%;
    }
    .ma4{
        grid-area: ma;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: wheat;
        background-color: black;
        border: wheat solid 5px;
        
    }
    .sida4bild {
        height: 400px;
        width: auto;
        margin: 30px 15px 30px 30px;
        border: wheat solid 5px;
    }
    .sida4div1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 30px 60px 15px 30px;
    }
    .sida4div2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        margin: 30px 60px 15px 30px;
    }
    .ma5{
        grid-area: ma;
        background-color: black;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: center;
        padding: 5% 5% 5% 5%;
        }
    .info5_1{
        display: block;
        background-color: rgb(20, 20, 20);
        border: wheat solid 5px;
        color: whitesmoke;
    }
    .info5_2{
        display: block;
        background-color: rgb(30, 30, 30);
        border: wheat solid 5px;
        color: whitesmoke;
    }
    .info5_3{
        display: block;
        background-color: rgb(40, 40, 40);
        border: wheat solid 5px;
        color: whitesmoke;
    }
    .info5_4{
        display: block;
        background-color: rgb(50, 50, 50);
        border: wheat solid 5px;
        color: whitesmoke;
    }
    .pris{
        color: rgb(245, 220, 122);
    }
    .times{
        background-color: cornsilk;
        color: black;
        display:block;
        height: 100%;
        width: 100%;
    }    
    .sida5_main{
        color:rebeccapurple ;
    }
    .as1{
        padding-top: 10px;
        grid-area: as;
        background-color: lightblue;
        border: black solid 5px;
    }
    .astext{
        line-height: 2rem;
        letter-spacing: 0rem;
        font-size: 1.5rem;
    }
    .ft1{
        grid-area: ft;
        background-color: lightskyblue;
        display: block;
        padding-left: 3%;
        height: 100%;
        margin-top: 5%;
    }
    .ft1 > h3{
        line-height: 7rem;
    }
    .ft1 > h4{
        line-height: 2rem;
    }
    .ft{
        grid-area: ft;
        background-color: lightskyblue;
        display: block;
        padding-left: 3%;
        height: 100%;
    }
    .ft > h3{
        line-height: 7rem;
    }
    .ft > h4{
        line-height: 2rem;
    }

    .menu{
        height: 100vh;
        width: 80vw;
        background-image: radial-gradient(cyan,rgb(53, 138, 138));
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
    }
    
    .menu-button{
        cursor: pointer;
        display: inline;
        display: none;
    }
    
    .menu-button i.material-icons{
        font-size: 2.5rem;
    }
    .show{
        left: 0;
    }
    
    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }
    
    .fade-layer.visible{
        display: block;
        display: none;
    }
}
/* For Mobil __________________________________________________________________________________ */
@media screen and (max-width: 1024px) {
    #wrapper1{
        grid-template-areas: 
        "mb mb mb mb"
        "hd hd hd hd"
        "ma ma ma ma"
        "ft ft ft ft"
        ;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto 60vh auto auto;
        height: auto;
        width: 100%;
        max-width: 100%;
        }
    #wrapper2{
        grid-template-areas: 
        "mb mb mb mb"
        "hd hd hd hd"
        "ma ma ma ma"
        "ft ft ft ft"
        ;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 5vh 60vh auto auto;
        height: auto;
        max-width: 100%;
        }
    #wrapper3{
        grid-template-areas: 
        "mb mb mb mb"
        "hd hd hd hd"
        "ma ma ma ma"
        "ft ft ft ft"
        ;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 5vh 60vh auto auto;
        height: auto;
        max-width: 100%;
        }
    .hd1{
        grid-area: hd;
        background-color: blue;
    }

    .mainbilld{
        height: 100%;
        width: 100%;
    }

    #navbar{
        grid-area: nv;
        background-color: lightskyblue;
        display: none;
    }

    .menu{
        height: 100%;
        width: 80%;
        background-image: radial-gradient(cyan,rgb(53, 138, 138));
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
    }
    .menli{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .menu-button{
        cursor: pointer;
        display: inline;
        grid-area: mb;
        background-color: skyblue;
        position: fixed;
        width: 100%;
    }
    
    .menu-button i.material-icons{
        font-size: 2.0rem;
        padding-left: 1vh;
    }
    
    .show{
        left: 0;
    }
    
    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }
    
    .fade-layer.visible{
        display: block;
    }

    .lista{ 
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li{
        flex: 1;
        float: left;
    }
    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 16px 14px;
        text-decoration: none;
    }
    li a:hover {
        background-color:rgb(86, 86, 255);
    }
    li a:hover:not(.active){
        background-color: rgb(95, 200, 250);
    }
    .active{
        background-color: blue;
        color: whitesmoke;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    /*_____p-grabbarna____*/
    .p1{
        color: whitesmoke;
        font-size: 1rem;
    }
    .p21{
        color: whitesmoke;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .p22{
        
        font-size: 2rem;
    }
    .p3{
        color: black;
        font-size: 2rem;
    }
    .p4{
        color: aqua;
    }
    .p5{
        font-size: 1.5rem;
    }
    /*____________*/
    .ma1{
        grid-area: ma;
        background-color: rgb(95, 200, 250);
    }
    .sida1_info{
        color: white;
        background-color: black;
        height: 100%;
        width: 95%;
        margin-left: 2%;
        padding-top: 2%;
        margin-bottom: 2%;
        margin-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
        display: block;
        box-sizing: border-box;
    }
    .billder_s1{
        height: 100px;
        width: 100px;
    }
    .sida1_as{
        color: black;
        height: 91%;
        width: 95%;
        margin-left:2% ;
        padding-top: 1%;
        padding-left: 1%;
        display: block;
    }
    .ma2{
        grid-area: ma;
        background-color: black;
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }
    .cash{
        color: cornsilk;
        background-color: black;
        height: 100%;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 10px;
    }
    .times{
        color: black;
        display:block;
        background-color: cornsilk;
        height: 100%;
        width: 100%;
        padding: 10px;
    }
    
    .ma3{
        grid-area: ma;
        background-color: black;
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }
    .special{
        background-color: cornsilk;
        color: black;
        height: 100%;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding-left: 5%;
        padding-right: 5%;
    }
    .allapriser{
        color: white;
        background-color: black;
        height: 100%;
        width: 100%;
        display: block;
        box-sizing: border-box;
        text-align: center;
        padding: 5%;
    }
    .prislista{
        display: flex;
        flex-direction: column;
        line-height: 4vh;
    }
    .ma4{
        grid-area: ma;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: wheat;
        background-color: black;
        border: wheat solid 5px;
        }
    .sida4bild {
        height: 60vw;
        width: auto;
        margin: 30px 30px 30px 30px;
    }
    .sida4div1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        margin: 30px 30px 30px 30px;
    }
    .sida4div2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        margin: 30px 30px 30px 30px;
    }
    .ma5{
        grid-area: ma;
        background-color: black;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5% 5% 5% 5%;
        }
    .info5_1{
        display: block;
        background-color: rgb(20, 20, 20);
        border: wheat solid 5px;
        color: whitesmoke;
    }
    .info5_2{
        display: block;
        background-color: rgb(30, 30, 30);
        border: wheat solid 5px;
        color: whitesmoke;
    }
    .info5_3{
        display: block;
        background-color: rgb(40, 40, 40);
        border: wheat solid 5px;
        color: whitesmoke;
    }
    .info5_4{
        display: block;
        background-color: rgb(50, 50, 50);
        border: wheat solid 5px;
        color: whitesmoke;
    }
    .pris{
        color: rgb(245, 220, 122);
    }
    .times{
        background-color: cornsilk;
        color: black;
        display:block;
        height: 100%;
        width: 100%;
    }    
    .sida5_main{
        color:rebeccapurple ;
    }
    .as1{
        display: none;
        grid-area: as;
        background-color: rgb(255, 150, 150);
    }

    .ft{
        grid-area: ft;
        background-color: lightskyblue;
        display: block;
        padding-left: 3%;
        height: 100%;
    }
    .ft > h3{
        line-height: 7rem;
    }
    .ft > h4{
        line-height: 2rem;
    }
    .ft1{
        grid-area: ft;
        background-color: lightskyblue;
        display: block;
        padding-left: 3%;
        height: 100%;
    }
    .ft1 > h3{
        line-height: 7rem;
    }
    .ft1 > h4{
        line-height: 2rem;
    }
}

